main {
  border: 0;
  padding: 50px;
  margin: 0;
  box-sizing: border-box;
  font-family: calibri;
}

body {           
  background-color: #510e10;
  font-family: "Playfair Display", serif;
  color: #510e10;
}

#hero {
  height: 100px;
  overflow: hidden;
  position: relative;
}

#content {
  background-color: #520e10;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: -1;
}

.hero-mobile {
  display: none;
  background: url("../img/paralax-mobile.webp") no-repeat center bottom/cover;
  height: 320px;
}

.first-section {
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
} 

.topnav {
  z-index: 6;
  background-color: #a3a3a3;
    overflow: hidden;
    position: fixed;
    font-family: "JetBrainsMonoMedium", serif;
    width: 100%;
    top: 0;
    overflow: hidden;
    min-height: 5%;
  }

  .topnav a {
  float: left;
  color: #4a006c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }

  .topnav a:hover {
    background-color: #333;
    color: #ffd5ff;
  }
  .topnav a.active {
  background-color: #4a006c;
  color: #ffd5ff;
  }

  .topnav a:active:hover{
    color: #390054;
  }

#starttitle{
  font-size: 60px;
  text-align: center;
  font-weight: 1000;
  margin-top: 300px;
  color: #4a006c;
  font-family: "JetBrainsMonoMedium", serif;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
  font-family: "JetBrainsMonoMedium", serif;
  color: #ffaaff;
}

h2 {
  font-family: "JetBrainsMonoMedium", serif;
  color: #ffaaff
}

p {
  color: #ffd5ff;
  font-size: 18px;
  line-height: 150%;
  font-family: Inter, serif;
}

form {
  font-family: "JetBrainsMonoMedium", serif;
  width: 200px;
}

label{
  color: #ffaaff;
}

input{
  color: #4a006c;
  height: 35px;
  width: 300px;
  border: #ffaaff 2px solid;
  background-color: #a3a3a3;
  border-radius: 10px;
  transition: .3s;
}

input:hover{
background-color: #a27ca2;
}

textarea {
  color: #4a006c;
  resize: none;
  height: 50px;
  width: 300px;
  border: #ffaaff 2px solid;
  background-color: #a3a3a3;
  border-radius: 10px;
  transition: .3;
}

textarea:hover {
  background-color: #a27ca2;
}

::placeholder {
  color: #333;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #333;
}

#submit{
  color: #333;
  margin-top: 10px;
  padding: 7px;
  border-radius: 10px;
   border: #ffaaff 2PX solid;
   transition: .3s;
}

#submit:hover{
  background-color: #a27ca2;
}

#hero,
.layer {
  min-height: 1000px;
}

.layer-bg {
  background-image: url("../img/paralax-sky.webp");
}

.layer-1 {
  background-image: url("../img/paralax-mountains.webp");
}

.layer-2 {
  background-image: url("../img/paralax-trees-fixed.webp");
  
}
.layer-3 {
  background-image: url("../img/paralax-forground-fixed.webp");
}

.layer-4 {
  background-image: url("../img/paralax-tree.webp");
}

@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }

  .hero-mobile {
    display: block;
    }
  }
