body {
  padding: 0;
  margin: 0;
  background-color: #520e10;
  font-family: "Playfair Display", serif;
  color: #ccc;
}

#hero {
  height: 100lpx;
  overflow: hidden;
  position: relative;
}

#content {
  background-color: #520e10;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100lpx;
  position: fixed;
  z-index: -1;
}

#hero-mobile {
  display: none;
  background: url("paralax\ mobile.png") no-repeat center bottom/cover;
  height: 320px;
}

.first-section {
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}

p {
  color: #ccc;
  font-size: 18px;
  line-height: 150%;
}

#hero,
.layer {
  min-height: 1000px;
}

.layer-bg {
  background-image: url("paralax\ sky.png");
}

.layer-1 {
  background-image: url("paralax\ mountains.png");
}

.layer-2 {
  background-image: url("paralax\ trees\ fixed.png");
  
}
.layer-3 {
  background-image: url("paralax\ forground\ fixed.png");
}

.layer-4 {
  background-image: url("paralax\ tree.png");
}

@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }

  #hero-mobile {
    display: block;
  }
}
.tutorial-link {
  color: #ccc;
  font-size: 18px;
  text-decoration: underline;
}
.tutorial-link:hover {
  color: #ede0d5;
}